<!DOCTYPE html>
<html>
    <header>
        <script type="text/javascript" src="plotly-3.1.1.min.js"></script>
        <script type="text/javascript" src="data.js"></script>
        <script type="text/javascript" src="parser.js"></script>
        <script type="text/javascript" src="script.js"></script>
        <link rel="stylesheet" href="style.css">
    </header>
    <body>
        <div id="wrapper">
            <div id="sidebar">
                <a href="https://github.com/fabian-flechtmann/x4-vault-finder" id="title">X4 Vault Finder</a>
                <div id="upload-container">
                    <label for="file-upload" class="upload-button">
                        Upload Save
                    </label>
                    <input type="file" id="file-upload" accept=".gz,.xml" onchange="handleFileSelect(event)">
                    <div id="upload-progress">
                        <span id="upload-status">Ready</span>
                    </div>
                </div>
            </div>
            <div id="plot">Please upload a save file to get started</div>
        </div>
        <script>
            function handleFileSelect(event) {
                const file = event.target.files[0];
                if (file) {
                    handleFileUpload(file);
                }
            }
        </script>
    </body>
</html>
